@media (max-width: 650px) {
  div.carousel {
    display: none;
  }
}

.bgCarousel {
  background-color: #F7F7F7;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.hCarousel {
  height: 68px;
}

.wCarousel {
  width: 768px;
}

.imgBandLeft {
  background: url("../img/imgBandLeft.png");
  height: auto;
  max-width: 100%;
}

.imgBandCenter {
  background: url("../img/imgBandCenter.png");
  height: auto;
  max-width: 100%;
}

.imgBandRight {
  background: url("../img/imgBandRight.png");
  height: auto;
  max-width: 100%;
}

/* Main container */
.overlayImage {
 position: relative;
 width: 100%;
}

/* Original image */
.overlayImage .image {
 display: block;
 width: 100%;
 height: auto;
}

/* Original text overlay */
.overlayImage .text {
 color: #fff;
 text-decoration: none;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}
