/*

@font-face {
  font-family: OneNikeCurrency;
  src: url("/styleguide/assets/fonts/onenike-currency/OneNikeCurrency-8aaff7decca3face1566b24221b5eb2b.woff") format("woff"), url("/styleguide/assets/fonts/onenike-currency/OneNikeCurrency-8aaff7decca3face1566b24221b5eb2b.ttf") format("truetype"), url("/styleguide/assets/fonts/onenike-currency/OneNikeCurrency-8aaff7decca3face1566b24221b5eb2b.svg") format("svg");
}

.font-family OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,sans-serif; */

ol, ul, li {
  list-style: none;
}

/****** Links ******/
a {
  color: #FFF;
  text-decoration: none;
}

a:link {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

/* Déclaration pour IE qui assimile l'état :focus à l'état :active */
/* a:focus, a:active {
    color: #999;
    outline: 0;
    background-color: transparent;
    text-decoration: none;
  }

/************* SEPARATOR *************/
.separator {
  background-color: #666;
  height: .06em;
  margin-bottom: .7em;
}
.fa {
  width: 2.5rem;
}

.main-footer {
  height: 20rem;
  padding: 2.625rem 2.625rem 0;
  background-color: #191919;
  letter-spacing: .03em;
}

.nike-platform {
  color: #FFF;
  font-size: .9em;
}

.nike-link {
  font-size: .7em;
  padding-top: 0,16rem;
  color: #666666;
}

.column {
  color: #FFF;
  min-width: 8.75rem;
  float: left;

}

.column>li {
  height: 1.75rem;
}
.container-fluid {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.imagecontainer {
  display: block;
  min-width: 4rem;
  max-width: 30%;
  color: black;
  text-align: center;
}

.container {
  color: black;
}

/* Ipad
@media all and (max-width: 800px) {
  .imagecontainer {
    display: none;
    min-width: 4rem;
    max-width: 30%;
    color: black;
    text-align: center;
  }

/* version horizontale
@media all and (max-height: 450px) {
    .imagecontainer {
      display: none;
      min-width: 4rem;
      max-width: 30%;
      color: black;
      text-align: center;
    } */

@media (max-width: 360px) {
  div.carousel {
    display: none;
  }

  .collapsibleBtn {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .activeBtn, .collapsibleBtn:hover {
    background-color: #ccc;
  }

  .contentCollapsible { /*disabled*/
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
  }

  .contentCollapsible { /*active*/
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapsibleBtn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }

  .activeBtn:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .imagecontainer {
    display: none;
    min-width: 4rem;
    max-width: 30%;
    color: black;
    text-align: center;
  }
}

@media (max-width: 650px) {

  .imagecontainer {
    display: none;
    min-width: 4rem;
    max-width: 30%;
    color: black;
    text-align: center;
  }
}

@media (min-width: 967px) {
  .collapsibleBtn {
    background-color: #fff;
    border: none;
    margin: 0;
    padding: 0;
  }
}

.fontCarousel {
  font-size: 1.125em;
  letter-spacing: -0.1em;
  font-weight: bold;
}

a.fontLinkCarousel {
  font-size: .75em;
  color: #111;
  text-decoration: underline;
  font-weight: bold;
  letter-spacing: -.1em;
}

.bgCarousel {
  background-color: #F7F7F7;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23111' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.hCarousel {
  height: 68px;
}

.wCarousel {
  width: 768px;
}

.imgBandLeft {
  background: url("../img/imgBandLeft.png");
  height: auto;
  max-width: 100%;
}

.imgBandCenter {
  background: url("../img/imgBandCenter.png");
  height: auto;
  max-width: 100%;
}

.imgBandRight {
  background: url("../img/imgBandRight.png");
  height: auto;
  max-width: 100%;
}

/* Main container */
.overlayImage {
  position: relative;
  width: 100%;
}

/* Original image */
.overlayImage .image {
  display: block;
  width: 100%;
  height: auto;
}

/* Original text overlay */
.overlayImage .text {
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.linkColor a {
  color: #111;
  letter-spacing: -.03em;
  text-decoration: none;
  font-size: .75em;
}
