/*

@font-face {
  font-family: OneNikeCurrency;
  src: url("/styleguide/assets/fonts/onenike-currency/OneNikeCurrency-8aaff7decca3face1566b24221b5eb2b.woff") format("woff"), url("/styleguide/assets/fonts/onenike-currency/OneNikeCurrency-8aaff7decca3face1566b24221b5eb2b.ttf") format("truetype"), url("/styleguide/assets/fonts/onenike-currency/OneNikeCurrency-8aaff7decca3face1566b24221b5eb2b.svg") format("svg");
}

.font-family OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,sans-serif; */

ol, ul, li {
  list-style: none;
}

/****** Links ******/
a {
  color: #FFF;
  text-decoration: none;
}

a:link {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFF;
  text-decoration: none;
}

/* Déclaration pour IE qui assimile l'état :focus à l'état :active */
/* a:focus, a:active {
    color: #999;
    outline: 0;
    background-color: transparent;
    text-decoration: none;
  }

/************* SEPARATOR *************/
.separator {
  background-color: #666;
  height: .06em;
  margin-bottom: .7em;
}
.fa {
  width: 2.5rem;
}

.main-footer {
  height: 20rem;
  padding: 2.625rem 2.625rem 0;
  background-color: #191919;
  letter-spacing: .03em;
}

.nike-platform {
  color: #FFF;
  font-size: .9em;
}

.nike-link {
  font-size: .7em;
  padding-top: 0,16rem;
  color: #666666;
}

.column {
  color: #FFF;
  min-width: 8.75rem;
  float: left;

}

.column>li {
  height: 1.75rem;
}
.container-fluid {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.imagecontainer {
  display: block;
  min-width: 4rem;
  max-width: 30%;
  color: black;
  text-align: center;
}

.container {
  color: black;
}

/* Ipad */
@media all and (max-width: 800px) {
  .imagecontainer {
    display: none;
    min-width: 4rem;
    max-width: 30%;
    color: black;
    text-align: center;
  }

  /* version horizontale */
  @media all and (max-height: 450px) {
    .imagecontainer {
      display: none;
      min-width: 4rem;
      max-width: 30%;
      color: black;
      text-align: center;
    }
